/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#tsparticles {
  position: absolute;
  height:100px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}

details {
  width: 80%;
  margin: 0 auto ;
  padding-left: 2em;
 
  background: #b4e6ac;
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(50, 6, 210, 0.4);
  border-radius: 5px;
  overflow: hidden;
  color:white
  
}

summary {
  padding: 1rem;
  display: block;
  background: #8aa8e6;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  user-select: none;
  color:white
}

summary:before {
  content: '';
  border-width: .4rem;
  padding-left: 2em;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
  transform: rotate(90deg);
}


details summary::-webkit-details-marker {
  display:none;
  padding-left: 2em;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.partners
{
  width:10px;
  height:10px;
  border-radius: 2px;
  box-shadow: 5px 10px #888888;

}