/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9fc4fc;
  --ifm-color-primary-dark: #3a2d79;
  --ifm-color-primary-darker: #362b72;
  --ifm-color-primary-darkest: #2d235e;
  --ifm-color-primary-light: #463793;
  --ifm-color-primary-lighter: #4a399a;
  --ifm-color-primary-lightest: #5341ae;
  --ifm-font-family-base: 'Lato', sans-serif;
  --ifm-footer-background-color: #9fc4fc;
  
}

h1, h2, h3, h4, h5, h6, p, span, li, a, button {
  font-family: 'Lato', sans-serif;
}

.navbar, .footer, .sidebar {
  font-family: 'Lato', sans-serif;
}


nav.navbar{  
  --ifm-navbar-background-color: var(--ifm-background-surface-color);
  --ifm-navbar-height: 16vh;
  --ifm-navbar-link-hover-color: #9fc4fc;

 }

.navbar__logo img {
  height: 350%;
  margin-top: -44px;
}

td {
  text-align: center;
  padding: 10px;
}

.row {
  justify-content: flex-start !important; /* Alinha o conteúdo à esquerda */
}

ul {
	display: none;
}

/* Esconde as linhas e células da tabela */
table {
    border: none;
    background-color: transparent; /* Torna o fundo invisível */
    border-collapse: collapse;
    width: 100%;
	display: block;
}

.col col--2{
	display: none;
}

/* Esconde os cabeçalhos da tabela */
table th {
    display: none;
}

table td{
    border: none;
    background-color: transparent; /* Torna o fundo invisível */
    padding: 20px; /* Mais espaçamento entre as células */
	text-align: center;
	vertical-align: middle;
    color: black; /* Garante que o texto seja visível */
}

table td a{
    border: none;
    background-color: transparent; /* Torna o fundo invisível */
    padding: 20px; /* Mais espaçamento entre as células */
	text-align: center;
	vertical-align: middle;
    color: black; /* Garante que o texto seja visível */
	visibility: visible;
}

table td div{
	text-align: center;
	visibility: visible;
}

/* Reduz o tamanho dos logos */
table img {
    max-width: 150px; /* Ajuste conforme necessário */
    max-height: 150px; /* Ajuste conforme necessário */
    display: block;
    margin: 0 auto; /* Centraliza os logos */
}

.footer__copyright{
	color: white;
}

/* Opcional: Esconde completamente as linhas da tabela */
table, table tr, table th {
	margin: 0 auto;
    text-align: center;
    visibility: hidden;
}

/* Apenas os logos ficam visíveis */
table img {
    visibility: visible;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */

